header {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

.scary-font {
    font-family: 'Creepster', cursive;
    font-size: 50px;
    color: rgb(163, 1, 1);
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: rgb(138, 0, 0);
}

body {
    background-color: rgb(56, 56, 56);
    text-align: center;
    align-items: center;
    
}
h1 #title {
    color: white
}

h2 {
    color: white
}

p {
    color: #fff;
}

li {
    color: #fff;
}

footer {
    background-color: #1d1c1c;
    color: #fff;
    padding: 10px 0;
}

.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px; 
    width: 650px;
    text-align: center;
}

.hex {
    float: left;
    margin-left: 1px; 
    margin-bottom: -20px; 
    position: relative;
    cursor: pointer;
}

.hex .top {
    width: 0;
    border-bottom: 20px solid grey; 
    border-left: 30px solid transparent; 
    border-right: 30px solid transparent; 
}

.hex .middle {
    width: 60px; 
    height: 34.64px; 
    background: grey;
}

.hex .bottom {
    width: 0;
    border-top: 20px solid grey; 
    border-left: 30px solid transparent; 
    border-right: 30px solid transparent; 
}

.hex-row {
    clear: left;
}

.hex-row.even {
    margin-left: 30px; 
}

.hex:hover {
    filter: brightness(1.2);
}

.hex.player1 .top {
    border-bottom: 20px solid rgb(91, 91, 233);
    border-left: 30px solid transparent; 
    border-right: 30px solid transparent;
}

.hex.player1 .middle {
    background-color:  rgb(91, 91, 233);
}

.hex.player1 .bottom {
    border-top: 20px solid rgb(91, 91, 233);
    border-left: 30px solid transparent; 
    border-right: 30px solid transparent; 
}

.hex.player2 .top {
    border-bottom: 20px solid rgb(0, 255, 76);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.hex.player2 .middle {
    background-color:  rgb(0, 255, 76);
}

.hex.player2 .bottom {
    border-top: 20px solid rgb(0, 255, 76);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.info-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    
}

#player-turn {
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
}


#restart-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(138, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

#restart-button:hover {
    background-color: rgb(34, 0, 0);
}

.hex.losing .top {
    border-bottom: 20px solid rgb(138, 0, 0);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.hex.losing .middle {
    background-color:  rgb(138, 0, 0);
}

.hex.losing .bottom {
    border-top: 20px solid rgb(138, 0, 0);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.logo {
    margin-right: 10px; 
}

.logo img {
    height: 50px; 
}